.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 84px;
  z-index: 100;
  background-color: var(--background-color-white);
}
.header-left-section {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 28px;
  margin-right: 59px;
}

.header-burger-menu-button img {
  height: 17px;
}

.header-left-section-logo {
  display: flex;
  align-items: center;
}
.header-left-section-logo img {
  height: 25px;
}

.header-center-section {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-right: 59px;
}
.search-bar {
  color: var(--text-color-black);
  font-size: 16px;
  height: 44px;
  width: 100%;
  max-width: 830px;
  background-color: rgba(235, 235, 235, 0.3);
  padding-left: 23px;
  border-radius: 22px;
  border: none;
}
.search-bar::placeholder {
  opacity: 0.4;
  color: #30384c;
}
.search-button {
  padding: 12px;
  border-radius: 50%;
  border: none;
  margin-left: -43px;
  display: flex;
  align-items: center;
}

.header-right-section {
  display: flex;
  align-items: center;
  justify-self: space-between;
  gap: 50px;
  flex-shrink: 0;
}
.header-right-section-button {
  display: flex;
  align-items: center;
  max-height: 40px;
}
.profile-button {
  border-radius: 50%;
}
.notifications-icon-container {
  position: relative;
}
.notifications-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  height: 18px;
  width: 18px;
  background-color: var(--background-color-red);
  border-radius: 50%;
  color: var(--background-color-white);
  font-size: 12px;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
}
.user-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
@media screen and (max-width: 1100px) {
  .header {
    padding: 20px 30px 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
  .header-left-section {
    gap: 15px;
    margin-right: 20px;
  }
  .header-center-section {
    margin-right: 20px;
  }
  .search-bar {
    max-width: 100%;
  }
  .header-right-section {
    gap: 20px;
  }
}
@media screen and (max-width: 585px) {
  .header {
    padding: 10px 16px;
  }
  .header-center-section {
    margin-right: 12px;
    justify-content: flex-end;
  }
  .header-right-section-button:first-child,
  .header-right-section-button:nth-child(2) {
    display: none;
  }
  .header-center-section input {
    display: none;
  }
  .header-center-section .search-button {
    margin-left: initial;
  }
  .header-left-section {
    margin-right: 12px;
    gap: 12px;
  }
  .header-right-section {
    gap: 12px;
  }
}
@media screen and (max-width: 320px) {
  .header-left-section .header-burger-menu-button {
    display: none;
  }
  .header-right-section-button:not(:last-child) {
    display: none;
  }
}
