/* Sidebar */
.sidebar {
  width: 220px;
  background-color: var(--background-color-white);
  font-size: 16px;
  color: #898989;
  padding: 20px;
  position: fixed;
  top: 84px;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-navigation a,
.subscriptions a,
.main-navigation button,
.sidebar-settings-section button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  white-space: nowrap;
}

.main-navigation a:hover,
.main-navigation button:hover,
.subscriptions a:hover,
.sidebar-settings-section button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.main-navigation-list-primary {
  margin-bottom: 40px;
}
.main-navigation-list-primary li:last-child {
  display: none;
}
.main-navigation .main-navigation-home {
  color: var(--text-color-red);
}
.icon-navigation {
  height: 20px;
  width: 20px;
  margin-right: 13px;
}
.show-more-icon {
  height: 16px;
  width: 16px;
  margin-right: 17px;
}

.main-navigation-button-show-more span {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.24;
  color: #000;
  width: 20px;
  height: 20px;
  margin-right: 13px;
}
.sidebar h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-black);
  padding-left: 10px;
  margin: 50px 0 20px 0;
}

.sidebar button {
  width: 100%;
}

.main-navigation-list-primary li:not(:last-child) {
  padding-bottom: 8px;
}

.main-navigation-list-library li {
  padding-bottom: 9px;
}

.subscriptions-list li:not(:last-child) {
  padding-bottom: 3px;
}

.subscriptions-user-icon {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.sidebar-settings-section {
  margin-top: 105px;
}

/* Video Card */

.video-card {
  line-height: 1.3;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.video-thumbnail-container {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.video-thumbnail-container:hover {
  transform: scale(1.03);
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 3px 9px;
  border-radius: 12px;
  font-size: 14px;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.video-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-black);
}
.channel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.video-stats span {
  vertical-align: middle;
  font-size: 5px;
}
.video-section {
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
}
/* Video Author */
.video-section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
  margin-right: 150px;
}
.video-author-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.video-author-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.video-author-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-author-name {
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color-black);
}
/* Video Section Navigation Buttons */
.video-section-navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.left-arrow-button,
.right-arrow-button {
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 11.2px;
    height: auto;
  }
}
.left-arrow-button svg {
  transform: rotate(90deg);
}
.right-arrow-button svg {
  transform: rotate(-90deg);
}
.left-arrow-button:hover,
.right-arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.video-cards-container {
  display: flex;
  gap: 40px;
  overflow: auto;
}
/* Recommended Video Section */
.recommended-video-section {
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
  .video-thumbnail-container {
    width: 540px;
    height: 250px;
  }
}
.recommended-video-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
  margin-right: 150px;
}

.recommended-video-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color-black);
}
/* Recommended Channels */
.recommended-channels-section {
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
}
.recommended-channels-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
  margin-right: 150px;
}
.video-author-text-container {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.video-author-text-container p {
  font-size: 16px;
}

.recommended-channels-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}

.subscribe-button {
  background-color: var(--background-color-red);
  color: var(--text-color-white);
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 20px;
}
.subscribe-button:hover {
  background-color: #e60000;
}
/* channel page */
.channel-header-section {
  margin-bottom: 10px;
  padding: 10px 70px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.channel-banner-container {
  aspect-ratio: 319/56;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 14px;
}
.channel-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.channel-info-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.channel-info-left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.channel-profile-icon-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.channel-profile-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.channel-name {
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color-black);
}
.channel-info-right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.channel-navigation-container {
  margin-bottom: 60px;
}
.channel-navigation-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 70px 10px 10px;
  margin-bottom: 40px;
}
.channel-navigation-list {
  font-size: 18px;
  color: var(--text-color-black);
  display: flex;
  align-items: center;
  gap: 30px;
}

.channel-navigation-list img {
  vertical-align: middle;
}

.channel-navigation-list li {
  flex-shrink: 0;
}
.channel-navigation-list li:last-child {
  display: none;
}
.channel-navigation-list a {
  color: var(--text-color-black);
  position: relative;
  padding-bottom: 3px;
}

.channel-navigation-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color-black);
  transition: width 0.3s ease-in-out;
}

.channel-navigation-list a:hover::after {
  width: 100%;
  background-color: var(--text-color-black);
}

.channel-navigation-list a:active {
  color: var(--text-color-red);
}

.channel-navigation-list a:active::after {
  width: 100%;
  background-color: var(--text-color-red);
}

.channel-navigation-list a.active {
  color: var(--text-color-red);
}

.channel-navigation-list a.active::after {
  width: 100%;
  background-color: var(--text-color-red);
}
.channel-page-recommended-channels {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
  color: var(--text-color-black);
  font-weight: 700;
  margin-right: 70px;
  h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-grey);
  }
  .subscriptions-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.channel-video-cards-container {
  max-width: 1120px;
  display: flex;
  gap: 30px;
  .video-thumbnail-container {
    aspect-ratio: 54/25;
    width: initial;
    height: initial;
    flex: 1;
  }
  .video-info {
    flex: 1;
    justify-content: center;
    gap: 5px;
  }
  .video-title {
    line-height: 1.3;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .video-text {
    font-size: 16px;
    line-height: 1.375;
    color: #000;
    opacity: 0.6;
    margin-bottom: 25px;
  }
  .video-stats {
    font-size: 16px;
    line-height: 1.375;
  }
}

@media screen and (max-width: 1440px) {
  .video-section-header,
  .recommended-video-header,
  .recommended-channels-header {
    margin-right: 70px;
  }
  .channel-video-cards-container {
    flex-direction: column;
  }
  .channel-page-recommended-channels {
    margin-right: 0;
  }

  .channel-navigation-list {
    gap: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .video-section-header,
  .recommended-video-header,
  .recommended-channels-header {
    margin-right: 30px;
  }
  .video-author-text-container {
    flex-direction: column;
    gap: 0;
  }
  .recommended-channels-actions {
    gap: 20px;
  }
  .channel-header-section,
  .channel-navigation-section {
    padding-right: 30px;
  }
  .channel-navigation-list {
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 180px;
    font-size: 14px;
  }
  .main-navigation-list-primary,
  .main-navigation-list-library,
  .subscriptions,
  .sidebar-settings-section {
    a {
      flex-direction: column;
      align-items: center;
      gap: 5px;
      .icon-navigation {
        margin: 0;
      }
    }
  }
  .channel-page-recommended-channels {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    padding: 0;
    top: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;

    .main-navigation-list-primary {
      display: flex;
      justify-content: space-around;
      margin: 0;
      border-top: 1px solid #e6e6e6;

      a {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .icon-navigation {
          margin: 0;
        }
      }
    }
    .main-navigation-list-primary li:not(:last-child) {
      padding: 0;
    }
    .main-navigation-list-primary li:last-child {
      display: block;
    }
    .main-navigation-list-library,
    .main-navigation-button-show-more,
    .subscriptions,
    .sidebar-settings-section {
      display: none;
    }
  }
  .video-section-header,
  .recommended-video-header,
  .recommended-channels-header {
    margin-right: 20px;
  }
  .channel-header-section,
  .channel-navigation-section {
    padding-right: 20px;
  }
}
@media screen and (max-width: 585px) {
  .video-section {
    padding: 10px 16px;
    .video-section-header {
      display: none;
    }
    .video-cards-container {
      align-items: center;
      overflow: auto;
      flex-direction: column;
      gap: 30px;
    }
  }
  .video-thumbnail-container {
    width: 100%;
    height: auto;
    aspect-ratio: 5/3;
  }
  .recommended-video-section {
    display: none;
  }
  .recommended-channels-section {
    display: none;
  }
  .channel-header-section {
    /* position: relative; */
    gap: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .channel-banner-container {
    border-radius: 0;
  }
  .channel-info-section {
    position: relative;
    /* left: 16px;
    top: calc(100% - 35px); */
    margin: -35px 0 0 16px;
    gap: 20px;
    flex-direction: column;
    .channel-info-left-section {
      align-items: flex-start;
      flex-direction: column;
      gap: 2px;
    }
    .channel-profile-icon-container {
      width: 70px;
      height: 70px;
    }
    .channel-name {
      font-size: 20px;
    }
    .subscribers-count {
      font-size: 12px;
    }
    .notification-button {
      display: none;
    }
  }
  .channel-navigation-section {
    display: block;
    margin-bottom: 0;
    padding: 13px 10px 6px 13px;

    .channel-navigation-container {
      margin-bottom: 16px;
    }
    .channel-video-cards-container {
      display: none;
    }
    .channel-navigation-list {
      gap: 5px;
      justify-content: space-between;
    }
    .channel-navigation-list li:nth-child(4),
    .channel-navigation-list li:nth-child(5),
    .channel-navigation-list li:nth-child(6),
    .channel-navigation-list li:nth-child(7) {
      display: none;
    }
    .channel-navigation-list li:last-child {
      display: block;
    }
  }
}
