/* Sidebar */
.sidebar {
  width: 220px;
  background-color: var(--background-color-white);
  font-size: 16px;
  color: #898989;
  padding: 20px;
  position: fixed;
  top: 84px;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-navigation a,
.subscriptions a,
.main-navigation button,
.sidebar-settings-section button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  white-space: nowrap;
}

.main-navigation a:hover,
.main-navigation button:hover,
.subscriptions a:hover,
.sidebar-settings-section button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.main-navigation-list-primary {
  margin-bottom: 40px;
}
.main-navigation-list-primary li:last-child {
  display: none;
}
.main-navigation .main-navigation-home {
  color: var(--text-color-red);
}
.icon-navigation {
  height: 20px;
  width: 20px;
  margin-right: 13px;
}
.show-more-icon {
  height: 16px;
  width: 16px;
  margin-right: 17px;
}

.main-navigation-button-show-more span {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.24;
  color: #000;
  width: 20px;
  height: 20px;
  margin-right: 13px;
}
.sidebar h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-black);
  padding-left: 10px;
  margin: 50px 0 20px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.sidebar button {
  width: 100%;
}

.main-navigation-list-primary li:not(:last-child) {
  padding-bottom: 8px;
}

.main-navigation-list-library li {
  padding-bottom: 9px;
}

.subscriptions-list li:not(:last-child) {
  padding-bottom: 3px;
}

.subscriptions-user-icon {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.sidebar-settings-section {
  margin-top: 105px;
}

/* Video Card */

.video-card {
  line-height: 1.3;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.video-thumbnail-container {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.video-thumbnail-container:hover {
  transform: scale(1.03);
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 3px 9px;
  border-radius: 12px;
  font-size: 14px;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.video-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-black);
}
.channel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.video-stats span {
  vertical-align: middle;
  font-size: 5px;
}
.video-section {
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
}
/* Video Author */
.video-section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
  margin-right: 150px;
}
.video-author-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.video-author-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.video-author-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-author-name {
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color-black);
}
/* Video Section Navigation Buttons */
.video-section-navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.left-arrow-button,
.right-arrow-button {
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 11.2px;
    height: auto;
  }
}
.left-arrow-button svg {
  transform: rotate(90deg);
}
.right-arrow-button svg {
  transform: rotate(-90deg);
}
.left-arrow-button:hover,
.right-arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.video-cards-container {
  display: flex;
  gap: 40px;
  overflow: auto;
}
/* Recommended Video Section */
.recommended-video-section {
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
  .video-thumbnail-container {
    width: 540px;
    height: 250px;
  }
}
.recommended-video-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
  margin-right: 150px;
}

.recommended-video-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--text-color-black);
}
/* Recommended Channels */
.recommended-channels-section {
  padding: 10px 0 10px 10px;
  margin-bottom: 30px;
}
.recommended-channels-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 30px;
  margin-right: 150px;
}
.video-author-text-container {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.video-author-text-container p {
  font-size: 16px;
}

.recommended-channels-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}

.subscribe-button {
  background-color: var(--background-color-red);
  color: var(--text-color-white);
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 20px;
}
.subscribe-button:hover {
  background-color: #e60000;
}
@media screen and (max-width: 1440px) {
  .video-section-header,
  .recommended-video-header,
  .recommended-channels-header {
    margin-right: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .video-section-header,
  .recommended-video-header,
  .recommended-channels-header {
    margin-right: 30px;
  }
  .video-author-text-container {
    flex-direction: column;
    gap: 0;
  }
  .recommended-channels-actions {
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 180px;
    font-size: 14px;
  }
  .main-navigation-list-primary,
  .main-navigation-list-library,
  .subscriptions,
  .sidebar-settings-section {
    a {
      flex-direction: column;
      align-items: center;
      gap: 5px;
      .icon-navigation {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    padding: 0;
    top: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;

    .main-navigation-list-primary {
      display: flex;
      justify-content: space-around;
      margin: 0;
      border-top: 1px solid #e6e6e6;

      a {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .icon-navigation {
          margin: 0;
        }
      }
    }
    .main-navigation-list-primary li:not(:last-child) {
      padding: 0;
    }
    .main-navigation-list-primary li:last-child {
      display: block;
    }
    .main-navigation-list-library,
    .main-navigation-button-show-more,
    .subscriptions,
    .sidebar-settings-section {
      display: none;
    }
  }
}
@media screen and (max-width: 585px) {
  .video-section {
    padding: 10px 16px;
    .video-section-header {
      display: none;
    }
    .video-cards-container {
      align-items: center;
      overflow: auto;
      flex-direction: column;
    }
  }
  .video-thumbnail-container {
    width: 100%;
    height: auto;
    aspect-ratio: 5/3;
  }
  .recommended-video-section {
    display: none;
  }
  .recommended-channels-section {
    display: none;
  }
}
